// SearchBar.styles.scss
.search-bar-container {
    display: flex;
    align-items: center;
    margin-top: 20px; // Adjust as needed
    position: relative;
  
    .search-input {
      padding: 10px;
      border: none;
      border-bottom: 2px solid transparent;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 20px;
      transition: background-color 0.3s ease, border-bottom-color 0.3s ease, width 0.3s ease;
      outline: none;
      font-size: 16px;
      width: 200px; // Adjust width as needed
      cursor: pointer;
  
      &:hover {
        background-color: rgba(255, 255, 255, 0.9);
      }
  
      &:focus {
        background-color: white;
        border-bottom-color: #007bff;
      }
    }
  
    .search-input-expanded {
      width: 300px; // Width when expanded
    }
  
    button {
      padding: 10px 20px;
      border: none;
      background-color: transparent;
      color: white;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      outline: none;
      font-size: 16px;
  
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
  